/*DOM -> Document Object Model*/

/* .heading {
    color: blue;
    background-color: yellow;
    text-align: center;
}
body {
    background-color: pink;
}

button {
    background-color: blue;
} */



